In [134]:
import pandas as pd

In [135]:
import random
def random_userid(m, n):
    return random.randint(m, n)

In [136]:
from random import randrange
# from datetime import timedelta
import datetime

def random_date(start, end):
    """
    This function will return a random datetime between two datetime 
    objects.
    """
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + datetime.timedelta(seconds=random_second)

In [137]:
def random_cash_direction():
    if random.random() > 0.5:
        return 'In'
    else:
        return 'Out'

In [138]:
def random_amount(max):
    return random.randint(0, max)

In [139]:
def generate_uid(rows):
    result = []
    for i in range(rows):
        result.append(random_userid(1001,1020))
    return result

d1 = datetime.datetime.strptime('1/1/2019 12:00 AM', '%m/%d/%Y %I:%M %p')
d2 = datetime.datetime.strptime('3/1/2019 12:00 AM', '%m/%d/%Y %I:%M %p')

def generate_timestamp(rows):
    result = []
    for i in range(rows):
        result.append(random_date(d1, d2))
    return result

def generate_cash_direction(rows):
    result = []
    for i in range(rows):
        result.append(random_cash_direction())
    return result

def generate_amount(rows, max):
    result = []
    for i in range(rows):
        result.append(random_amount(max))
    return result

In [140]:
rows = 100
user_id = generate_uid(rows)
timestamp = generate_timestamp(rows)
cash_direction = generate_cash_direction(rows)
amount = generate_amount(rows, 500000)

transactions = {'User_id': user_id, 'Timestamp': timestamp, 'CashDirection': cash_direction, 'Amount': amount}

In [141]:
df = pd.DataFrame(transactions)
df['CTR'] = df['Amount'].apply(lambda x: 1 if x > 10000 else 0)
df.head(20)

    User_id           Timestamp CashDirection  Amount  CTR
0      1005 2019-01-26 22:49:39            In  172372    1
1      1008 2019-02-08 03:02:59            In  142289    1
2      1002 2019-02-12 10:04:32           Out  187333    1
3      1017 2019-01-21 22:21:27            In  318667    1
4      1002 2019-01-13 23:20:22            In  439879    1
5      1008 2019-01-11 10:51:07            In  257272    1
6      1003 2019-01-24 07:44:28            In  246173    1
7      1016 2019-01-05 19:13:54           Out  290011    1
8      1017 2019-02-27 17:28:39           Out  307179    1
9      1007 2019-01-06 20:13:16           Out  323068    1
10     1013 2019-02-20 04:36:29           Out   73576    1
11     1004 2019-02-07 08:46:17            In   38077    1
12     1001 2019-02-09 07:08:25           Out  458046    1
13     1015 2019-01-21 08:47:14            In   12042    1
14     1014 2019-01-17 01:11:12            In  208805    1
15     1012 2019-01-17 12:53:43            In  266509    1
16     1019 2019-02-04 21:12:05            In  350765    1
17     1003 2019-01-04 02:02:31           Out   30506    1
18     1002 2019-02-21 15:56:52            In  475248    1
19     1017 2019-01-24 16:09:27            In  166704    1

In [142]:
df[df['Amount'] < 10000].head()

    User_id           Timestamp CashDirection  Amount  CTR
27     1008 2019-02-11 18:51:11           Out    3415    0
74     1014 2019-01-06 09:56:43           Out    4123    0

In [159]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)
# engine = create_engine('mysql://', echo=False)
# engine = create_engine('postgresql://', echo=False)

df.to_sql('transactions', con=engine)

```SQL
SELECT t1.User_id, t1.Timestamp, t2.Timestamp, DATE(t1.Timestamp, '+7 days'), SUM(t2.CTR) 
FROM transactions t1 
JOIN transactions t2 
ON t1.User_id = t2.User_id 
WHERE t2.Timestamp >= t1.Timestamp AND t2.Timestamp < DATE(t1.Timestamp, '+7 days') 
GROUP BY t1.User_id, DATE(t1.Timestamp) 
ORDER BY t1.User_id, DATE(t1.Timestamp)
```

In [160]:
stmt = "SELECT t1.User_id, t1.Timestamp, t2.Timestamp, DATE(t1.Timestamp, '+7 days'), SUM(t2.CTR) FROM transactions t1 JOIN transactions t2 ON t1.User_id = t2.User_id WHERE t2.Timestamp >= t1.Timestamp AND t2.Timestamp < DATE(t1.Timestamp, '+7 days') GROUP BY t1.User_id, DATE(t1.Timestamp) ORDER BY t1.User_id, DATE(t1.Timestamp)"

```SQL
SELECT User_id, MAX(sum_CTR)
FROM (
      SELECT t1.User_id, SUM(t2.CTR) AS sum_CTR
      FROM transactions t1
      JOIN transactions t2
      ON t1.User_id = t2.User_id
      WHERE t2.Timestamp >= t1.Timestamp AND
            t2.Timestamp < DATE(t1.Timestamp, '+7 days')
      GROUP BY t1.User_id, DATE(t1.Timestamp)
      ORDER BY t1.User_id, DATE(t1.Timestamp)
     )
GROUP BY User_id
ORDER BY 2 DESC
LIMIT 5;
```

In [161]:
# stmt = "SELECT User_id, MAX(sum_CTR) FROM (SELECT t1.User_id, SUM(t2.CTR) AS sum_CTR FROM transactions t1 JOIN transactions t2 ON t1.User_id = t2.User_id WHERE t2.Timestamp >= t1.Timestamp AND t2.Timestamp < DATE(t1.Timestamp, '+7 days') GROUP BY t1.User_id, DATE(t1.Timestamp) ORDER BY t1.User_id, DATE(t1.Timestamp)) GROUP BY User_id ORDER BY 2 DESC LIMIT 5"

In [162]:
sql_results = engine.execute(stmt).fetchall()
df_result = pd.DataFrame(sql_results)
df_result.head(50)

,0,1,2,3,4
0,1001,2019-01-05 22:50:03.000000,2019-01-05 22:50:03.000000,2019-01-12,3
1,1001,2019-01-09 15:22:34.000000,2019-01-09 15:22:34.000000,2019-01-16,2
2,1001,2019-01-11 05:34:28.000000,2019-01-11 05:34:28.000000,2019-01-18,1
3,1001,2019-01-20 05:40:42.000000,2019-01-20 05:40:42.000000,2019-01-27,1
4,1001,2019-01-29 09:58:16.000000,2019-01-29 09:58:16.000000,2019-02-05,1
5,1001,2019-02-09 07:08:25.000000,2019-02-09 07:08:25.000000,2019-02-16,2
6,1001,2019-02-13 02:00:14.000000,2019-02-13 02:00:14.000000,2019-02-20,2
7,1001,2019-02-16 01:58:33.000000,2019-02-16 01:58:33.000000,2019-02-23,1
8,1002,2019-01-04 08:53:21.000000,2019-01-04 08:53:21.000000,2019-01-11,3
9,1002,2019-01-08 10:50:14.000000,2019-01-08 10:50:14.000000,2019-01-15,3
10,1002,2019-01-10 21:48:45.000000,2019-01-10 21:48:45.000000,2019-01-17,2
11,1002,2019-01-13 23:20:22.000000,2019-01-13 23:20:22.000000,2019-01-20,1
12,1002,2019-02-12 10:04:32.000000,2019-02-12 10:04:32.000000,2019-02-19,2
13,1002,2019-02-16 09:39:32.000000,2019-02-16 09:39:32.000000,2019-02-23,2
14,1002,2019-02-21 15:56:52.000000,2019-02-21 15:56:52.000000,2019-02-28,2
15,1002,2019-02-24 00:30:00.000000,2019-02-24 00:30:00.000000,2019-03-03,1
16,1003,2019-01-04 02:02:31.000000,2019-01-04 02:02:31.000000,2019-01-11,2
17,1003,2019-01-10 10:21:18.000000,2019-01-10 10:21:18.000000,2019-01-17,1
18,1003,2019-01-20 21:14:53.000000,2019-01-20 21:14:53.000000,2019-01-27,2
19,1003,2019-01-24 07:44:28.000000,2019-01-24 07:44:28.000000,2019-01-31,2
20,1003,2019-01-27 18:58:05.000000,2019-01-27 18:58:05.000000,2019-02-03,1
21,1004,2019-02-07 08:46:17.000000,2019-02-07 08:46:17.000000,2019-02-14,1
22,1004,2019-02-24 19:15:59.000000,2019-02-24 19:15:59.000000,2019-03-03,1
23,1005,2019-01-06 23:51:34.000000,2019-01-06 23:51:34.000000,2019-01-13,1
24,1005,2019-01-14 16:35:26.000000,2019-01-14 16:35:26.000000,2019-01-21,1
25,1005,2019-01-26 22:49:39.000000,2019-01-26 22:49:39.000000,2019-02-02,1
26,1005,2019-02-23 21:56:00.000000,2019-02-23 21:56:00.000000,2019-03-02,1
27,1006,2019-01-10 10:04:24.000000,2019-01-10 10:04:24.000000,2019-01-17,1
28,1006,2019-01-31 12:33:19.000000,2019-01-31 12:33:19.000000,2019-02-07,2
29,1006,2019-02-01 11:54:35.000000,2019-02-01 11:54:35.000000,2019-02-08,1
30,1006,2019-02-08 04:48:13.000000,2019-02-08 04:48:13.000000,2019-02-15,3
31,1006,2019-02-10 14:32:17.000000,2019-02-10 14:32:17.000000,2019-02-17,3
32,1006,2019-02-13 04:09:10.000000,2019-02-13 04:09:10.000000,2019-02-20,2
33,1006,2019-02-16 10:55:56.000000,2019-02-16 10:55:56.000000,2019-02-23,2
34,1006,2019-02-20 04:17:23.000000,2019-02-20 04:17:23.000000,2019-02-27,1
35,1007,2019-01-06 20:13:16.000000,2019-01-06 20:13:16.000000,2019-01-13,1
36,1007,2019-01-22 05:44:09.000000,2019-01-22 05:44:09.000000,2019-01-29,6
37,1007,2019-02-07 01:34:47.000000,2019-02-07 01:34:47.000000,2019-02-14,2
38,1007,2019-02-08 04:13:17.000000,2019-02-08 04:13:17.000000,2019-02-15,1
39,1007,2019-02-22 07:51:27.000000,2019-02-22 07:51:27.000000,2019-03-01,1
40,1008,2019-01-11 10:51:07.000000,2019-01-11 10:51:07.000000,2019-01-18,1
41,1008,2019-01-19 17:18:44.000000,2019-01-19 17:18:44.000000,2019-01-26,1
42,1008,2019-02-02 18:36:56.000000,2019-02-02 18:36:56.000000,2019-02-09,2
43,1008,2019-02-08 03:02:59.000000,2019-02-08 03:02:59.000000,2019-02-15,1
44,1008,2019-02-11 18:51:11.000000,2019-02-11 18:51:11.000000,2019-02-18,0
45,1009,2019-01-09 13:19:34.000000,2019-01-09 13:19:34.000000,2019-01-16,2
46,1009,2019-01-15 13:31:15.000000,2019-01-15 13:31:15.000000,2019-01-22,1
47,1009,2019-02-02 13:14:24.000000,2019-02-02 13:14:24.000000,2019-02-09,1
48,1010,2019-01-06 08:29:52.000000,2019-01-06 08:29:52.000000,2019-01-13,1
49,1010,2019-01-16 11:14:38.000000,2019-01-16 11:14:38.000000,2019-01-23,1

```SQL
SELECT t1.User_id, t1.Timestamp, t2.Timestamp, DATE(t1.Timestamp, '+30 days'), SUM(t2.Amount) as income 
FROM transactions t1 
JOIN transactions t2 
ON t1.User_id = t2.User_id 
WHERE t2.Timestamp >= t1.Timestamp AND 
      t2.Timestamp < DATE(t1.Timestamp, '+30 days') AND 
      t2.CashDirection = 'In' 
GROUP BY 1, DATE(t1.Timestamp) 
ORDER BY 1, DATE(t1.Timestamp)
```

In [163]:
# stmt2 = "SELECT t1.User_id, t1.Timestamp, t2.Timestamp, DATE(t1.Timestamp, '+30 days'), SUM(t2.Amount) as income FROM transactions t1 JOIN transactions t2 ON t1.User_id = t2.User_id WHERE t2.Timestamp >= t1.Timestamp AND t2.Timestamp < DATE(t1.Timestamp, '+30 days') AND t2.CashDirection = 'In' GROUP BY 1, DATE(t1.Timestamp) ORDER BY 1, DATE(t1.Timestamp)"

```SQL
SELECT User_id, MAX(income)
FROM (
      SELECT t1.User_id, SUM(t2.Amount) as income 
      FROM transactions t1 
      JOIN transactions t2 
      ON t1.User_id = t2.User_id 
      WHERE t2.Timestamp >= t1.Timestamp AND 
            t2.Timestamp < DATE(t1.Timestamp, '+30 days') AND
            t2.CashDirection = 'In'
      GROUP BY 1, DATE(t1.Timestamp) 
      ORDER BY 1, DATE(t1.Timestamp)
     )
WHERE income > 1000000
GROUP BY User_id
ORDER BY MAX(income) DESC
LIMIT 5;
```

In [166]:
stmt2 = "SELECT User_id, MAX(income) FROM (SELECT t1.User_id, t1.Timestamp, t2.Timestamp, DATE(t1.Timestamp, '+30 days'), SUM(t2.Amount) as income FROM transactions t1 JOIN transactions t2 ON t1.User_id = t2.User_id WHERE t2.Timestamp >= t1.Timestamp AND       t2.Timestamp < DATE(t1.Timestamp, '+30 days') AND      t2.CashDirection = 'In' GROUP BY 1, DATE(t1.Timestamp) ORDER BY 1, DATE(t1.Timestamp)) WHERE income > 1000000 GROUP BY User_id ORDER BY MAX(income) DESC LIMIT 5"

In [167]:
sql_results2 = engine.execute(stmt2).fetchall()
df_result2 = pd.DataFrame(sql_results2)
df_result2.head(50)

      0        1
0  1007  1885167
1  1017  1035772
2  1008  1018929